{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 300,
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
