<div>
  <div class="rounded bg-gray-100 font-sans">
    <form [formGroup]="propertyForm" (ngSubmit)="submitPropertyForm()">
      @if (property$ | async; as property) {
        <div class="grid grid-cols-12 items-start gap-6">
          <!--Col 1-->
          <div class="sticky top-4 col-span-3 rounded">
            <div class="mb-6 border border-solid border-gray-300 bg-white p-6">
              <div class="relative mb-4">
                <img class="aspect-video w-full rounded object-cover" [src]="environment.baseUrl + property.coverImage" alt="" />
                <p-tag class="absolute right-2 top-2" value="For Rent" />
              </div>

              <div class="mb-3">
                <div class="mb-2 font-semibold">{{ property.title }}</div>
                <div class="text-sm text-gray-600">{{ property.address }}</div>
              </div>

              <div class="mb-3">
                <div class="font-semibold">Price</div>
                <div class="text-3xl font-bold text-blue-600">{{ property.price | currency }}</div>
              </div>

              <div class="grid grid-cols-12 gap-2">
                <div class="col-span-6 inline-flex items-center gap-1 rounded bg-blue-100 p-1 text-xs font-medium text-blue-800">
                  <span class="material-symbols-rounded">king_bed</span>
                  <span>{{ property.bedroom }} Beds</span>
                </div>

                <div class="col-span-6 inline-flex items-center gap-1 rounded bg-blue-100 p-1 text-xs font-medium text-blue-800">
                  <span class="material-symbols-rounded">bathtub</span>
                  <span>{{ property.bathroom }} Baths</span>
                </div>

                <div class="col-span-6 inline-flex items-center gap-1 rounded bg-blue-100 p-1 text-xs font-medium text-blue-800">
                  <span class="material-symbols-rounded">floor</span>
                  <span>{{ property.floor }} Floors</span>
                </div>
              </div>
            </div>

            @if (getVideoId()) {
              <div class="border border-solid border-gray-300 bg-white px-6 py-4">
                <div class="mb-2 flex items-center gap-1 font-semibold">
                  <span class="material-symbols-rounded">smart_display</span>
                  <div>Videos</div>
                </div>
                <app-yt-player [videoID]="getVideoId()"></app-yt-player>
              </div>
            }
          </div>

          <!--Col 2-->
          <div class="col-span-9 rounded border border-solid border-gray-300 bg-white p-6">
            <div class="mb-4 border-0 border-l-8 border-solid border-blue-600 pl-2 text-xl font-semibold text-blue-600">Property Information</div>

            <div class="grid grid-cols-12 gap-6">
              <div class="col-span-6">
                <div class="flex flex-col gap-2">
                  <label for="title" class="font-medium">Title</label>
                  <input id="title" pInputText disabled [value]="property.title" />
                </div>
              </div>
              <div class="col-span-3">
                <div class="flex flex-col gap-2">
                  <label for="property-category" class="font-medium">Property Category</label>
                  <p-dropdown id="property-category" [disabled]="true" [placeholder]="property.category.name" [style]="{ width: '100%' }" />
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-2">
                  <label for="property-type" class="font-medium">Property Type</label>
                  <p-dropdown id="property-type" [disabled]="true" [placeholder]="property.propertyType.name" [style]="{ width: '100%' }" />
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-2">
                  <label for="price" class="font-medium">Price</label>
                  <p-inputGroup>
                    <p-inputGroupAddon><span class="material-symbols-rounded" style="font-size: 1rem">payments</span></p-inputGroupAddon>
                    <input id="price" type="number" pInputText placeholder="Price" [value]="property.price" [disabled]="true" />
                  </p-inputGroup>
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-2">
                  <label for="bedroom" class="font-medium">Bedroom</label>
                  <p-inputGroup>
                    <p-inputGroupAddon><span class="material-symbols-rounded" style="font-size: 1rem">king_bed</span></p-inputGroupAddon>
                    <input id="bedroom" type="number" pInputText [value]="property.bedroom" [disabled]="true" />
                  </p-inputGroup>
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-2">
                  <label for="bedroom" class="font-medium">Bathroom</label>
                  <p-inputGroup>
                    <p-inputGroupAddon><span class="material-symbols-rounded" style="font-size: 1rem">bathtub</span></p-inputGroupAddon>
                    <input id="bathroom" type="number" pInputText [value]="property.bathroom" [disabled]="true" />
                  </p-inputGroup>
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-2">
                  <label for="floor" class="font-medium">Floor</label>
                  <p-inputGroup>
                    <p-inputGroupAddon><span class="material-symbols-rounded" style="font-size: 1rem">floor</span></p-inputGroupAddon>
                    <input id="floor" type="number" pInputText [value]="property.floor" [disabled]="true" />
                  </p-inputGroup>
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-2">
                  <label for="floor" class="font-medium">Area</label>
                  <p-inputGroup>
                    <p-inputGroupAddon><span class="material-symbols-rounded" style="font-size: 1rem">area_chart</span></p-inputGroupAddon>
                    <input id="area" type="number" pInputText [value]="property.area" [disabled]="true" />
                  </p-inputGroup>
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-2">
                  <label for="property-type" class="font-medium">Direction</label>
                  @if (directions$ | async; as directions) {
                    <p-dropdown optionLabel="name" [disabled]="true" optionValue="directionId" id="direction" [options]="directions" [filter]="true" [placeholder]="property.direction.name" [showClear]="true" [style]="{ width: '100%' }" />
                  } @else {
                    <p-skeleton class="w-full" [style]="{ height: '2.5rem' }"></p-skeleton>
                  }
                </div>
              </div>

              <div class="col-span-3">
                <div class="flex flex-col gap-2">
                  <label for="property-type" class="font-medium">Juridical</label>
                  @if (juridicals$ | async; as juridicals) {
                    <p-dropdown optionLabel="name" [disabled]="true" optionValue="juridicalId" id="juridical" [options]="juridicals" [filter]="true" [placeholder]="property.juridical.name" [showClear]="true" [style]="{ width: '100%' }" />
                  } @else {
                    <p-skeleton class="w-full" [style]="{ height: '2.5rem' }"></p-skeleton>
                  }
                </div>
              </div>

              <div class="col-span-3" formGroupName="propertyAddress">
                <div class="flex flex-col gap-2">
                  <label for="zipcode" class="font-medium">Zipcode</label>
                  <input id="zipcode" pInputText formControlName="zipcode" placeholder="Zipcode" [disabled]="true" />
                </div>
              </div>

              <div class="col-span-3" formGroupName="propertyAddress">
                <div class="flex flex-col gap-2">
                  <label for="province" class="font-medium">Province</label>
                  @if (provinces$ | async; as provinces) {
                    <p-dropdown id="province" optionLabel="name" optionValue="provinceId" [disabled]="true" [options]="provinces" [filter]="true" placeholder="Province" (onChange)="onProvinceChange($event)" [showClear]="true" [style]="{ width: '100%' }" />
                  } @else {
                    <p-skeleton class="w-full" [style]="{ height: '2.5rem' }"></p-skeleton>
                  }
                </div>
              </div>

              <div class="col-span-3" formGroupName="propertyAddress">
                <div class="flex flex-col gap-2">
                  <label for="district" class="font-medium">District</label>
                  @if (districts$ | async; as districts) {
                    <p-dropdown id="district" optionLabel="name" optionValue="districtId" [disabled]="true" [options]="districts" [filter]="true" placeholder="District" (onChange)="onDistrictChange($event)" [showClear]="true" [style]="{ width: '100%' }" />
                  } @else {
                    <p-skeleton class="w-full" [style]="{ height: '2.5rem' }"></p-skeleton>
                  }
                </div>
              </div>

              <div class="col-span-3" formGroupName="propertyAddress">
                <div class="flex flex-col gap-2">
                  <label for="district" class="font-medium">Ward</label>
                  @if (wards$ | async; as wards) {
                    <p-dropdown id="ward" optionLabel="name" optionValue="wardId" [disabled]="true" optionLabel="name" optionValue="wardId" [options]="wards" [filter]="true" [placeholder]="property.ward.name" [showClear]="true" [style]="{ width: '100%' }" />
                  } @else {
                    <p-skeleton class="w-full" [style]="{ height: '2.5rem' }"></p-skeleton>
                  }
                </div>
              </div>

              <div class="col-span-12">
                <div class="flex flex-col gap-2">
                  <label for="address" class="font-medium">Property Address</label>
                  <input id="address" pInputText placeholder="Address" [disabled]="true" />
                </div>
              </div>

              <div class="col-span-12">
                <div class="flex flex-col gap-2">
                  <label for="youtubeLink" class="font-medium">Youtube Link</label>
                  <input id="youtubeLink" pInputText [disabled]="true" placeholder="Link to Youtube Video" />
                </div>
              </div>

              <div class="col-span-12">
                <div class="flex flex-col gap-2">
                  <label for="description" class="font-medium">Description</label>
                  <p-editor [readonly]="true" id="description" [style]="{ height: '260px' }" disabled />
                </div>
              </div>

              @if (imagePreview) {
                <div class="preview-container">
                  <img [src]="imagePreview" alt="Image Preview" class="preview-image" />
                </div>
              }

              <div class="col-span-12">
                <div class="flex flex-col gap-2">
                  <label for="coverImage" class="font-medium">Cover Image</label>
                  <img class="w-32 rounded object-cover" [src]="environment.baseUrl + property.coverImage" alt="" />
                </div>
              </div>

              <div class="col-span-12">
                <div class="flex flex-col gap-2">
                  <label for="propertyImages" class="font-medium">Property Images</label>
                  <div class="grid w-full grid-cols-12 gap-2">
                    @for (propertyImages of property.propertyImages; track $index) {
                      <div class="col-span-3">
                        <img class="w-full rounded object-cover" [src]="environment.baseUrl + propertyImages.imageUrl" [alt]="propertyImages.description" />
                      </div>
                    }
                  </div>
                </div>
              </div>

              <!--            <p-fileUpload name="file" mode="basic" accept="image/*" customUpload="false" (onSelect)="onFileSelect($event)" chooseLabel="Browse" chooseIcon="pi pi-upload" [auto]="true"></p-fileUpload>-->

              <div class="col-span-12 flex items-center justify-end">
                <p-button label="Edit" [rounded]="true" icon="pi pi-file-edit
" iconPos="left" (click)="editListing(property.propertyId)" />
              </div>
            </div>
          </div>
        </div>
      }
    </form>
  </div>
</div>

<p-toast />
