<div class="flex min-h-screen select-none flex-col font-sans">
  <div class="text-black">
    @if (propertyType$ | async; as propertyTypes) {
      @if (propertyTypes.length > 0) {
        <div class="">
          <p-toast />
          <p-confirmDialog [style]="{ width: '460px' }" />
          <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
              <p-button severity="primary" [rounded]="true" label="New" icon="pi pi-plus" class="mr-2" routerLink="add" />
              <p-button severity="danger" [rounded]="true" label="Delete" icon="pi pi-trash" />
            </ng-template>

            <ng-template pTemplate="right">
              <p-button severity="secondary" [rounded]="true" label="Export" icon="pi pi-upload" />
            </ng-template>
          </p-toolbar>

          <p-table
            #dt
            [value]="propertyTypes"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['title', 'price', 'rating', 'availabilityStatus']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true"
            [filterDelay]="0"
            [scrollable]="true"
            scrollHeight="535px"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
              <div class="flex items-center justify-between">
                <h5 class="m-0 text-2xl font-semibold">Manage Property Types</h5>
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input #inputSearch pInputText type="text" (input)="dt.filterGlobal(inputSearch.value, 'contains')" placeholder="Search..." />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 4rem" pFrozenColumn alignFrozen="left">
                  <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="title" style="min-width: 65rem" pFrozenColumn alignFrozen="left">
                  Name
                  <p-sortIcon field="title" />
                </th>

                <th pFrozenColumn style="max-width: 20px" alignFrozen="right">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-propertyType>
              <tr class="p-selectable-row">
                <td pFrozenColumn alignFrozen="left">
                  <p-tableCheckbox [value]="propertyType.propertyTypeId" />
                </td>
                <td pFrozenColumn alignFrozen="left">
                  {{ propertyType.name }}
                </td>
                <td pFrozenColumn style="min-width: 200px" alignFrozen="right">
                  <p-button icon="pi pi-eye" class="mr-2" [rounded]="true" severity="secondary" (click)="openPropertyType(propertyType.propertyTypeId)"></p-button>
                  <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" severity="primary" (click)="editPropertyType(propertyType.propertyTypeId)"></p-button>
                  <p-button icon="pi pi-trash" severity="danger" [rounded]="true" (click)="deletePropertyType(propertyType.propertyTypeId)"></p-button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="flex items-center justify-between">
                In total there are {{ propertyTypes ? propertyTypes.length : 0 }}
                properties
              </div>
            </ng-template>
          </p-table>
        </div>
      } @else {
        <div class="relative">
          <div class="absolute inset-0 top-80 flex items-center justify-center">
            <p-progressSpinner ariaLabel="loading" strokeWidth="3" animationDuration=".5s" />
          </div>
        </div>
      }
    }
  </div>
</div>

<p-scrollTop target="window" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up" />
