<!--  For You-->
<div class="flex items-center mb-4 ">
    <span class="material-symbols-rounded mr-4 rounded bg-red-500 p-2 text-white"> verified </span>
    <h1 class="font-sans text-2xl font-bold">For You</h1>
</div>

<div class="grid grid-cols-4 gap-6 font-sans">
    <!--Column 1-->
    <div class="col-span-1">
        <div class="relative rounded-xl border border-t-0 border-solid border-gray-300">
            <div class="absolute left-2 top-2 flex items-center space-x-2 rounded bg-gray-800/70 p-1.5 text-sm font-semibold text-white">
                <span class="material-symbols-rounded"> visibility </span>
                <span>512 Views</span>
            </div>

            <img
                class="w-full rounded-t-xl"
                src="https://images.homes.com/listings/214/9589073204-200303781/10614-crimson-trace-beasley-tx-buildingphoto-2.jpg"
                alt=""
            />
            <p-button class="absolute right-2 top-2" icon="pi pi-heart" [rounded]="true" severity="danger" />

            <div class="space-y-2 p-4 pt-2">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-bold">$300,000</div>
                    <div class="flex items-center gap-2">
                        <div class="flex cursor-pointer items-center justify-center gap-1.5 rounded bg-gray-600 p-1 font-bold text-white" pRipple>
                            <span class="material-symbols-rounded"> bed </span>
                            <span> 4 Beds</span>
                        </div>

                        <div class="flex cursor-pointer items-center justify-center gap-1.5 rounded bg-gray-600 p-1 font-bold text-white" pRipple>
                            <span class="material-symbols-rounded"> shower </span>
                            <span>3 Baths</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div>10614 Crimson Trace</div>
                    <div>Beasley, TX 77417</div>
                </div>
            </div>
        </div>
    </div>
</div>
