<div class="mt-8 grid grid-cols-12 gap-8">
  <div class="col-span-3 rounded-xl border border-solid border-gray-300 px-6 py-4 shadow">
    <div class="mb-4 font-bold text-gray-700">Sale</div>
    <div class="mb-3 text-3xl font-bold">120</div>
    <div class="text-xs font-bold text-blue-600">+12%</div>
  </div>

  <div class="col-span-3 rounded-xl border border-solid border-gray-300 px-6 py-4 shadow">
    <div class="mb-4 font-bold text-gray-700">Sale</div>
    <div class="mb-3 text-3xl font-bold">120</div>
    <div class="text-xs font-bold text-blue-600">+12%</div>
  </div>

  <div class="col-span-3 rounded-xl border border-solid border-gray-300 px-6 py-4 shadow">
    <div class="mb-4 font-bold text-gray-700">Sale</div>
    <div class="mb-3 text-3xl font-bold">120</div>
    <div class="text-xs font-bold text-blue-600">+12%</div>
  </div>

  <div class="col-span-3 rounded-xl border border-solid border-gray-300 px-6 py-4 shadow">
    <div class="mb-4 font-bold text-gray-700">Sale</div>
    <div class="mb-3 text-3xl font-bold">120</div>
    <div class="text-xs font-bold text-blue-600">+12%</div>
  </div>

  <div class="col-span-9 rounded-xl border border-solid border-gray-300 px-6 py-4 shadow">
    <div class="mb-4 font-bold text-gray-700">Sale</div>
    <div class="mb-3 text-3xl font-bold">120</div>
    <div class="text-xs font-bold text-blue-600">+12%</div>
  </div>
  <div class="col-span-3 rounded-xl border border-solid border-gray-300 px-6 py-4 shadow">
    <div class="mb-4 font-bold text-gray-700">Sale</div>
    <div class="mb-3 text-3xl font-bold">120</div>
    <div class="text-xs font-bold text-blue-600">+12%</div>
  </div>

  <!--Top View-->
  <div class="col-span-8 rounded-xl border border-solid border-gray-300 px-6 py-4 shadow">
    <div class="mb-4 font-bold text-gray-700">Sale</div>
    <div class="mb-3 text-3xl font-bold">120</div>
    <div class="text-xs font-bold text-blue-600">+12%</div>
  </div>
  <div class="col-span-4 rounded-xl border border-solid border-gray-300 px-6 py-4 shadow">
    <div class="mb-4 flex items-center justify-between">
      <div class="font-bold">Top</div>
      <div class="font-bold">View</div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex flex-row gap-2">
        <img class="aspect-video w-1/3 rounded object-cover" src="https://apollo.primeng.org/assets/demo/images/product/bamboo-watch.jpg" alt="" />
        <div>Real estate from Hanoi</div>
      </div>
      <div>123</div>
    </div>
  </div>
</div>
