<div class="font-sans">
  <div class="mb-6 flex items-center">
    <span class="material-symbols-rounded mr-4 rounded bg-red-500 p-2 text-white"> newspaper </span>
    <h1 class="text-3xl font-semibold">Real Estate News</h1>
  </div>

  <div>
    <div class="grid grid-cols-12 gap-6">
      <!--Column 1-->
      <div class="col-span-8 grid grid-cols-12 gap-4 border-0 border-r border-solid border-gray-300">
        <!--Column 1-->
        <div class="col-span-4">
          <img
            class="w-full rounded object-cover"
            src="https://costar.brightspotcdn.com/dims4/default/937c729/2147483647/strip/true/crop/1024x683+0+0/resize/450x300!/quality/90/?url=http%3A%2F%2Fcostar-brightspot.s3.us-east-1.amazonaws.com%2F32%2Ff4%2F254107b94058909d3fa6d0e801d4%2Fsilverwood-bigger.jpg"
            alt=""
          />
        </div>
        <div class="col-span-8 m-0 space-y-2 px-4">
          <h1 class="line-clamp-2 font-sans text-xl font-semibold">Southern California developer lines up builders for new community that could reach 15,000 homes</h1>
          <p class="line-clamp-3 font-serif text-gray-600">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, debitis dignissimos ducimus ipsam iste iure minus molestiae nemo nobis, non, optio qui sint sit soluta ut vero voluptas
            voluptates voluptatum!
          </p>

          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="normal" shape="circle" />
              <p class="cursor-pointer text-sm">Paul Owers</p>
            </div>
            <div class="flex items-center gap-2">
              <p-avatar icon="pi pi-clock" size="normal" shape="circle" />
              <p class="cursor-pointer text-sm">Nov 05, 2024</p>
            </div>
          </div>
        </div>
      </div>

      <!--Column 2-->
      <div class="col-span-4">
        <div class="flex items-start gap-4 border-0 border-b border-solid border-gray-300 pb-4">
          <div class="h-fit w-32">
            <img
              class="w-full rounded object-cover"
              src="https://costar.brightspotcdn.com/dims4/default/937c729/2147483647/strip/true/crop/1024x683+0+0/resize/450x300!/quality/90/?url=http%3A%2F%2Fcostar-brightspot.s3.us-east-1.amazonaws.com%2F32%2Ff4%2F254107b94058909d3fa6d0e801d4%2Fsilverwood-bigger.jpg"
              alt=""
            />
          </div>
          <div class="flex-1">
            <h1 class="line-clamp-2 font-sans text-xl font-semibold">States, cities adjust plans to phase out natural gas use in houses, condos and other buildings</h1>
            <p class="line-clamp-3 font-serif text-sm text-gray-600">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad commodi doloribus et excepturi minima optio voluptatibus? Architecto atque beatae consequatur consequuntur, enim
              eveniet explicabo iure minima nemo quis reprehenderit?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
