<header class="container mx-auto text-xl font-medium my-6">
    <nav class="flex flex-row justify-between items-center">
        <div class="flex flex-row items-center gap-6">
            <div>
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 text-2xl font-bold"> LOGO </span>
            </div>
            <div>Buy</div>

            <div>Rent</div>
            <div>Sold</div>
            <div>New Homes</div>
            <div>News</div>
            <div>Find Agents</div>
            <div>Home loans</div>
            <div>News</div>
        </div>

        <div class="space-x-3">
            <p-button label="Login" />
            <p-button label="Register" />
        </div>
    </nav>
</header>
