<!--Most Viewed-->
<div class="mb-4 flex items-center">
  <span class="material-symbols-rounded mr-4 rounded bg-red-500 p-2 text-white"> location_city </span>
  <h1 class="font-sans text-2xl font-bold">Real Estate By Location</h1>
</div>

<div class="grid grid-cols-12 gap-6 font-sans">
  <!--Column 1-->
  <div class="col-span-4">
    <div class="relative cursor-pointer rounded">
      <img
        class="aspect-video w-full rounded object-cover"
        src="https://images.homes.com/listings/214/9589073204-200303781/10614-crimson-trace-beasley-tx-buildingphoto-2.jpg"
        alt=""
      />
      <div class="absolute left-4 top-4 rounded bg-gray-900/80 p-2 text-sm text-white">
        <div class="flex items-center gap-2">
          <span class="material-symbols-rounded"> apartment </span>
          <span>Hong Kong</span>
        </div>
      </div>

      <div class="absolute right-4 top-4 rounded bg-gray-900/80 p-2 text-sm text-white">
        <div class="flex items-center gap-2">
          <span class="material-symbols-rounded"> newsmode </span>
          <span>11 200 listings</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-8 grid grid-cols-4 grid-rows-2 gap-4 overflow-hidden">
    <div class="relative cursor-pointer rounded">
      <img
        class="aspect-video h-full w-full rounded object-cover"
        src="https://images.homes.com/listings/214/9589073204-200303781/10614-crimson-trace-beasley-tx-buildingphoto-2.jpg"
        alt=""
      />
      <div class="absolute left-2 top-2 rounded bg-gray-900/80 p-2 text-xs text-white">
        <div class="font-medium">Hong Kong</div>

        <div class="mt-1 flex items-center gap-1">
          <span class="material-symbols-rounded" style="font-size: 12px"> newsmode </span>
          <div class="text-[12px]">123 listings</div>
        </div>
      </div>
    </div>
  </div>
</div>
