<!--Agents Specializing in Your Search Areas-->
<div class="flex items-center mb-4">
    <span class="material-symbols-rounded mr-4 rounded bg-red-500 p-2 text-white"> support_agent </span>
    <h1 class=" font-sans text-2xl font-bold">Agents Specializing in Your Search Areas</h1>
</div>

<div class="grid grid-cols-3 gap-6">
    <div class="col-span-1 grid grid-cols-12 border border-gray-800 shadow">
        <div class="col-span-4">
            <img
                class="h-full w-full rounded-l object-cover"
                src="https://imagescdn.homes.com/i2/qENtFit5K52Yr15k0wNTqdXkCZDKHAi7S4374PoYxwU/117/tilah-spruel.jpg?p=1"
                alt=""
            />
        </div>

        <div class="col-span-8 p-3">
            <div class="space-y-2">
                <div class="mx-4 flex flex-col justify-between gap-3">
                    <div class="rounded text-xl font-semibold">Thilas Jonson</div>
                    <div class="flex items-center gap-2">
                        <span class="material-symbols-rounded"> phone_iphone </span>
                        <span>0123456789</span>
                    </div>
                    <div>100 Total Sales</div>
                    <div class="font-bold">$100000 Price</div>

                    <div>
                        <p-button label="Contact" icon="pi pi-phone " size="small" severity="danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-right">
    <p-button label="See More Agents" icon="pi pi-arrow-right " iconPos="right" severity="contrast" />
</div>
