<h1
    class="animate-gradient-x mb-6 w-full transform bg-gradient-to-r from-pink-500 via-red-500 to-blue-500 bg-clip-text text-center font-sans text-5xl font-black leading-[1.2] text-transparent"
>
    Make property great again!
</h1>

<div class="relative font-sans">
    <img
        class="h-96 w-full select-none rounded-2xl object-cover"
        src="https://argonaut.au.reastatic.net/resi-property/prod/homepage-web/web_lrg-bdc6abbb97221105646a.avif"
        alt=""
    />

    <div class="absolute left-1/2 top-1/2 w-[800px] -translate-x-1/2 -translate-y-1/2 transform text-2xl">
        <p-tabView>
            <p-tabPanel header="Buy">
                <div class="flex flex-row gap-3">
                    <input class="w-full rounded-full" type="text" pInputText id="search-input" placeholder="Search suburb, postcode or state" />
                    <p-button
                        label="Filter"
                        icon="pi pi-filter"
                        [rounded]="true"
                        [outlined]="true"
                        severity="secondary"
                        (onClick)="showDialog()"
                        label="Filters"
                    />
                    <p-button label="Search" [rounded]="true" />
                </div>
            </p-tabPanel>
            <p-tabPanel header="Rent">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
            </p-tabPanel>
            <p-tabPanel header="Sold">
                <p>At vero eos et accusamus et iusto odio dignissimos...</p>
            </p-tabPanel>
            <p-tabPanel header="Address">
                <p>At vero eos et accusamus et iusto odio dignissimos...</p>
            </p-tabPanel>
            <p-tabPanel header="Agents">
                <p>At vero eos et accusamus et iusto odio dignissimos...</p>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<!--Modal-->
<!-- Form-->
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <p-dialog
        header="Header"
        class="font-sans"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '45rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    >
        <!--Header-->
        <ng-template pTemplate="header">
            <h1 class="mx-auto text-2xl font-bold">Filters</h1>
        </ng-template>

        <!--Body-->
        <p-tabView>
            <p-tabPanel header="Buy" class="font-sans text-black">
                <!-- Property type-->
                <div class="mb-6 flex items-center gap-2">
                    <span class="material-symbols-rounded rounded-full bg-blue-600/30 p-2 text-blue-600"> real_estate_agent </span>
                    <span class="text-base text-xl font-semibold text-blue-600">Property type</span>
                </div>

                <div class="grid grid-cols-12 gap-4" formGroupName="propertyTypes">
                    <div class="col-span-6 space-y-4">
                        <div class="align-items-center">
                            <p-checkbox formControlName="apartment" label="Apartment" [binary]="true" />
                        </div>
                    </div>

                    <div class="col-span-6 space-y-4">
                        <div class="align-items-center">
                            <p-checkbox formControlName="house" label="Houses" [binary]="true" />
                        </div>
                    </div>
                </div>
                <!-- End Property type-->

                <hr class="my-8 border-0 border-b border-solid border-gray-200" />

                <!-- Price -->
                <div class="mb-6 flex items-center gap-2">
                    <span class="material-symbols-rounded rounded-full bg-blue-600/30 p-2 text-blue-600"> payments </span>
                    <span class="text-base text-xl font-semibold text-blue-600">Price</span>
                </div>
                <div class="grid grid-cols-12 gap-4" formGroupName="price">
                    <div class="col-span-6">
                        <h2 class="mb-2 text-base">Min</h2>
                        <p-dropdown
                            class="w-full"
                            formControlName="minPrice"
                            [options]="bathroomOptions"
                            optionLabel="label"
                            optionValue="value"
                            [showClear]="true"
                            placeholder="Any"
                        />
                    </div>

                    <div class="col-span-6 space-y-4">
                        <h2 class="mb-2 text-base">Max</h2>
                        <p-dropdown
                            class="w-full"
                            formControlName="maxPrice"
                            [options]="bathroomOptions"
                            optionLabel="label"
                            optionValue="value"
                            [showClear]="true"
                            placeholder="Any"
                        />
                    </div>
                </div>
                <!-- End Price -->

                <hr class="my-8 border-0 border-b border-solid border-gray-200" />

                <!-- Bedrooms -->
                <div class="mb-6 flex items-center gap-2">
                    <span class="material-symbols-rounded rounded-full bg-blue-600/30 p-2 text-blue-600"> bed </span>
                    <span class="text-base text-xl font-semibold text-blue-600">Bedrooms</span>
                </div>
                <div class="grid grid-cols-12 gap-4" formGroupName="bedrooms">
                    <div class="col-span-6">
                        <h2 class="mb-2 text-base">Min</h2>
                        <p-dropdown
                            class="w-full"
                            formControlName="minBedrooms"
                            [options]="bathroomOptions"
                            optionLabel="label"
                            optionValue="value"
                            [showClear]="true"
                            placeholder="Any"
                        />
                    </div>

                    <div class="col-span-6 space-y-4">
                        <h2 class="mb-2 text-base">Max</h2>
                        <p-dropdown
                            class="w-full"
                            formControlName="maxBedrooms"
                            [options]="bathroomOptions"
                            optionLabel="label"
                            optionValue="value"
                            [showClear]="true"
                            placeholder="Any"
                        />
                    </div>
                </div>
                <!-- End Bedrooms -->

                <hr class="my-8 border-0 border-b border-solid border-gray-200" />

                <!-- Bathrooms -->
                <div class="mb-6 flex items-center gap-2">
                    <span class="material-symbols-rounded rounded-full bg-blue-600/30 p-2 text-blue-600"> shower </span>
                    <span class="text-base text-xl font-semibold text-blue-600">Bathrooms</span>
                </div>

                <div class="grid grid-cols-12 gap-4" formGroupName="bathrooms">
                    <div class="col-span-6">
                        <h2 class="mb-2 text-base">Min</h2>
                        <p-dropdown
                            class="w-full"
                            [options]="bathroomOptions"
                            formControlName="minBathrooms"
                            optionLabel="label"
                            optionValue="value"
                            [showClear]="true"
                            placeholder="Any"
                        ></p-dropdown>
                    </div>

                    <div class="col-span-6 space-y-4">
                        <h2 class="mb-2 text-base">Max</h2>
                        <p-dropdown
                            class="w-full"
                            [options]="bathroomOptions"
                            formControlName="maxBathrooms"
                            optionLabel="label"
                            optionValue="value"
                            [showClear]="true"
                            placeholder="Any"
                        />
                    </div>
                </div>
                <!-- End Bathrooms -->

                <hr class="my-8 border-0 border-b border-solid border-gray-200" />

                <!--Outdoor features-->
                <div class="mb-6 flex items-center gap-2">
                    <span class="material-symbols-rounded rounded-full bg-blue-600/30 p-2 text-blue-600"> outdoor_garden </span>
                    <span class="text-base text-xl font-semibold text-blue-600">Outdoor features</span>
                </div>
                <div class="grid grid-cols-12 gap-4" formGroupName="outdoorFeatures">
                    <div class="col-span-6 space-y-4">
                        <div class="align-items-center">
                            <p-checkbox formControlName="swimmingPool" label="Swimming pool" [binary]="true" />
                        </div>
                    </div>

                    <div class="col-span-6 space-y-4">
                        <div class="align-items-center">
                            <p-checkbox formControlName="garage" label="Garage" [binary]="true" />
                        </div>
                    </div>

                    <div class="col-span-6 space-y-4">
                        <div class="align-items-center">
                            <p-checkbox formControlName="balcony" label="Balcony" [binary]="true" />
                        </div>
                    </div>

                    <div class="col-span-6 space-y-4">
                        <div class="align-items-center">
                            <p-checkbox formControlName="outdoorArea" label="Outdoor area" [binary]="true" />
                        </div>
                    </div>
                </div>
                <!--End Outdoor features-->

                <hr class="my-8 border-0 border-b border-solid border-gray-200" />

                <!--Indoor features-->
                <div class="mb-6 flex items-center gap-2">
                    <span class="material-symbols-rounded rounded-full bg-blue-600/30 p-2 text-blue-600"> mode_fan </span>
                    <span class="text-base text-xl font-semibold text-blue-600">Indoor features</span>
                </div>
                <div class="grid grid-cols-12 gap-4" formGroupName="indoorFeatures">
                    <div class="col-span-6 space-y-4">
                        <div class="align-items-center">
                            <p-checkbox formControlName="dishwasher" label="Dishwasher" [binary]="true" />
                        </div>
                    </div>

                    <div class="col-span-6 space-y-4">
                        <div class="align-items-center">
                            <p-checkbox formControlName="alarmSystem" label="Alarm system" [binary]="true" />
                        </div>
                    </div>

                    <div class="col-span-6 space-y-4">
                        <div class="align-items-center">
                            <p-checkbox formControlName="gym" label="Gym" [binary]="true" />
                        </div>
                    </div>
                </div>
                <!--End Outdoor features-->

                <hr class="my-8 border-0 border-b border-solid border-gray-200" />
            </p-tabPanel>

            <p-tabPanel header="Rent">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam
                    eius modi.
                </p>
            </p-tabPanel>
            <p-tabPanel header="Sold">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et
                    quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
                    laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus.
                </p>
            </p-tabPanel>
        </p-tabView>

        <ng-template pTemplate="footer">
            <p-button label="Clear Filters" severity="secondary" [rounded]="true" (onClick)="clearFilters()" />
            <p-button label="Search" type="submit" [rounded]="true"></p-button>
        </ng-template>
    </p-dialog>
</form>
