<div class="container mx-auto">
    <div class="relative">
        <h1 class="absolute transform -translate-x-1/2 -translate-y-1/2 border top-6 left-1/2 text-2xl">Properties to call home</h1>
        <img
            class="w-full h-96 object-cover rounded-2xl select-none"
            src="https://argonaut.au.reastatic.net/resi-property/prod/homepage-web/web_lrg-bdc6abbb97221105646a.avif"
            alt=""
        />

        <div class="absolute transform -translate-x-1/2 -translate-y-1/2 border top-1/2 left-1/2 text-2xl w-[800px]">
            <p-tabView class="">
                <p-tabPanel header="Buy">
                    <div class="flex flex-row gap-3">
                        <input class="w-full" type="text" pInputText formControlName="text" placeholder="Search suburb, postcode or state" />
                        <p-button label="Filter" severity="secondary" />
                        <p-button label="Search" />
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Rent">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
                </p-tabPanel>
                <p-tabPanel header="Sold">
                    <p>At vero eos et accusamus et iusto odio dignissimos...</p>
                </p-tabPanel>
                <p-tabPanel header="Address">
                    <p>At vero eos et accusamus et iusto odio dignissimos...</p>
                </p-tabPanel>
                <p-tabPanel header="Agents">
                    <p>At vero eos et accusamus et iusto odio dignissimos...</p>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

    <!--   Open Property-->
    <h1 class="mt-8">Open Property</h1>
    <div class="grid grid-cols-4 gap-8">
        <div class="col-span-1 border border-gray-800">
            <div class="shadow-xl">
                <div class="flex items-center gap-3 font-medium my-4">
                    <span class="material-icons">pending_actions</span>

                    <div>Thursday, Nov 7</div>
                    <div>12pm - 5pm</div>
                </div>
                <img
                    class="w-full"
                    src="https://images.homes.com/listings/214/9589073204-200303781/10614-crimson-trace-beasley-tx-buildingphoto-2.jpg"
                    alt=""
                />

                <div class="space-y-2 p-4">
                    <div class="flex items-center gap-3 justify-between mt-2">
                        <div class="flex items-center gap-3">
                            <div class="font-bold text-xl">$300,000</div>
                            <div>4 Beds</div>
                            <div>3 Baths</div>
                        </div>
                        <span
                            class="material-symbols-rounded border border-gray-800 border-solid text-black text-white p-1.5 rounded-full text-2xl flex items-center justify-center"
                            >favorite</span
                        >
                    </div>

                    <div>10614 Crimson Trace</div>
                    <div>Beasley, TX 77417</div>
                </div>
            </div>
        </div>
        <div class="col-span-1 border border-gray-800">
            <div class="shadow-xl">
                <div class="flex items-center gap-3 font-medium my-4">
                    <span class="material-icons">pending_actions</span>

                    <div>Thursday, Nov 7</div>
                    <div>12pm - 5pm</div>
                </div>
                <img
                    class="w-full"
                    src="https://images.homes.com/listings/214/9589073204-200303781/10614-crimson-trace-beasley-tx-buildingphoto-2.jpg"
                    alt=""
                />

                <div class="space-y-2 p-4">
                    <div class="flex items-center gap-3 justify-between mt-2">
                        <div class="flex items-center gap-3">
                            <div class="font-bold text-xl">$300,000</div>
                            <div>4 Beds</div>
                            <div>3 Baths</div>
                        </div>
                        <span
                            class="material-symbols-rounded border border-gray-800 border-solid text-black text-white p-1.5 rounded-full text-2xl flex items-center justify-center"
                            >favorite</span
                        >
                    </div>

                    <div>10614 Crimson Trace</div>
                    <div>Beasley, TX 77417</div>
                </div>
            </div>
        </div>
        <div class="col-span-1 border border-gray-800">
            <div class="shadow-xl">
                <div class="flex items-center gap-3 font-medium my-4">
                    <span class="material-icons">pending_actions</span>

                    <div>Thursday, Nov 7</div>
                    <div>12pm - 5pm</div>
                </div>
                <img
                    class="w-full"
                    src="https://images.homes.com/listings/214/9589073204-200303781/10614-crimson-trace-beasley-tx-buildingphoto-2.jpg"
                    alt=""
                />

                <div class="space-y-2 p-4">
                    <div class="flex items-center gap-3 justify-between mt-2">
                        <div class="flex items-center gap-3">
                            <div class="font-bold text-xl">$300,000</div>
                            <div>4 Beds</div>
                            <div>3 Baths</div>
                        </div>
                        <span
                            class="material-symbols-rounded border border-gray-800 border-solid text-black text-white p-1.5 rounded-full text-2xl flex items-center justify-center"
                            >favorite</span
                        >
                    </div>

                    <div>10614 Crimson Trace</div>
                    <div>Beasley, TX 77417</div>
                </div>
            </div>
        </div>
        <div class="col-span-1 border border-gray-800">
            <div class="shadow-xl">
                <div class="flex items-center gap-3 font-medium my-4">
                    <span class="material-icons">pending_actions</span>

                    <div>Thursday, Nov 7</div>
                    <div>12pm - 5pm</div>
                </div>
                <img
                    class="w-full"
                    src="https://images.homes.com/listings/214/9589073204-200303781/10614-crimson-trace-beasley-tx-buildingphoto-2.jpg"
                    alt=""
                />

                <div class="space-y-2 p-4">
                    <div class="flex items-center gap-3 justify-between mt-2">
                        <div class="flex items-center gap-3">
                            <div class="font-bold text-xl">$300,000</div>
                            <div>4 Beds</div>
                            <div>3 Baths</div>
                        </div>
                        <span
                            class="material-symbols-rounded border border-gray-800 border-solid text-black text-white p-1.5 rounded-full text-2xl flex items-center justify-center"
                            >favorite</span
                        >
                    </div>

                    <div>10614 Crimson Trace</div>
                    <div>Beasley, TX 77417</div>
                </div>
            </div>
        </div>
    </div>

    <!--Agents Specializing in Your Search Areas-->
    <h1 class="font-bold text-2xl">Agents Specializing in Your Search Areas</h1>
    <div class="grid grid-cols-3 gap-6">
        <div class="col-span-1 grid grid-cols-12 border border-gray-800 shadow border">
            <div class="col-span-4">
                <img
                    class="w-full h-full object-cover rounded"
                    src="https://imagescdn.homes.com/i2/qENtFit5K52Yr15k0wNTqdXkCZDKHAi7S4374PoYxwU/117/tilah-spruel.jpg?p=1"
                    alt=""
                />
            </div>

            <div class="col-span-8 p-3">
                <div class="space-y-2">
                    <div class="flex flex-col gap-3 justify-between mx-4">
                        <div class="font-bold text-2xl text-red-600 rounded">Thilas Jonson</div>
                        <div>0123456789</div>
                        <div>100 Total Sales</div>
                        <div class="font-bold">$100000 Price</div>

                        <div>
                            <p-button label="Contact Now" icon="pi pi-phone " iconPos="left" severity="danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <p-button label="See More Agents" icon="pi pi-arrow-right " iconPos="right" severity="contrast" />
    </div>

    <!--Most Viewed-->
    <h1 class="font-bold text-2xl">Most Viewed</h1>
    <div class="grid grid-cols-4 gap-6">
        <!--Column 1-->
        <div class="col-span-1">
            <div class="relative border border-gray-300 rounded border-solid">
                <div class="absolute flex items-center space-x-2 font-bold text-white bg-gray-800 rounded p-2 top-2 left-2">
                    <span class="material-symbols-rounded"> visibility </span>
                    <span>512 Views</span>
                </div>

                <img
                    class="w-full"
                    src="https://images.homes.com/listings/214/9589073204-200303781/10614-crimson-trace-beasley-tx-buildingphoto-2.jpg"
                    alt=""
                />
                <p-button class="absolute top-2 right-2" icon="pi pi-heart" [rounded]="true" severity="contrast" />

                <div class="space-y-2 p-4 pt-2 font-sans">
                    <div class="flex items-center justify-between">
                        <div class="font-bold text-2xl">$300,000</div>
                        <div class="text-white bg-blue-600 font-bold rounded flex items-center justify-center gap-1.5 p-2">
                            <span class="material-symbols-rounded"> bed </span>
                            <span> 4 Beds</span>
                        </div>

                        <div class="text-white bg-gray-800 font-bold rounded flex items-center justify-center gap-1.5 p-2">
                            <span class="material-symbols-rounded"> shower </span>
                            <span>3 Baths</span>
                        </div>
                    </div>
                    <div>
                        <div>10614 Crimson Trace</div>
                        <div>Beasley, TX 77417</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Real Estate News-->

    <hr class="border border-solid border-gray-200 my-8 border-[1px]" />

    <h1 class="font-bold text-2xl">Real Estate News</h1>
</div>
