<h1
    class="animate-gradient-x mb-6 w-full transform bg-gradient-to-r from-pink-500 via-red-500 to-blue-500 bg-clip-text text-center text-6xl font-serif font-black leading-[1.2] text-transparent"
>
    Make property great again!
</h1>

<div class="relative font-sans">
    <img
        class="h-96 w-full select-none rounded-2xl object-cover"
        src="https://argonaut.au.reastatic.net/resi-property/prod/homepage-web/web_lrg-bdc6abbb97221105646a.avif"
        alt=""
    />

    <div class="absolute left-1/2 top-1/2 w-[800px] -translate-x-1/2 -translate-y-1/2 transform text-2xl">
        <p-tabView class="">
            <p-tabPanel header="Buy">
                <div class="flex flex-row gap-3">
                    <input class="w-full" type="text" pInputText formControlName="text" placeholder="Search suburb, postcode or state" />
                    <p-button label="Filter" severity="secondary" />
                    <p-button label="Search" />
                </div>
            </p-tabPanel>
            <p-tabPanel header="Rent">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
            </p-tabPanel>
            <p-tabPanel header="Sold">
                <p>At vero eos et accusamus et iusto odio dignissimos...</p>
            </p-tabPanel>
            <p-tabPanel header="Address">
                <p>At vero eos et accusamus et iusto odio dignissimos...</p>
            </p-tabPanel>
            <p-tabPanel header="Agents">
                <p>At vero eos et accusamus et iusto odio dignissimos...</p>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
