<div class="flex min-h-screen select-none flex-col font-sans">
  <app-header></app-header>

  <div class="container mx-auto my-8 flex-1">
    @if (property$ | async; as property) {
      <h1 class="mb-4 text-3xl font-semibold">{{ property.title }}</h1>
      <div class="mb-8 flex items-center gap-2 text-gray-800">
        <div class="flex items-center gap-1 rounded bg-blue-100 px-3 py-1 font-medium text-blue-600">
          <span class="material-symbols-rounded">bathtub</span>
          <span>{{ property.bathroom }} {{ property.bathroom > 1 ? 'baths' : 'bath' }}</span>
        </div>

        <div class="flex items-center gap-1 rounded bg-blue-100 px-3 py-1 font-medium text-blue-600">
          <span class="material-symbols-rounded">bed</span>
          <span>{{ property.bedroom }} {{ property.bedroom > 1 ? 'beds' : 'bed' }}</span>
        </div>

        <div class="flex items-center gap-1 rounded bg-blue-100 px-3 py-1 font-medium text-blue-600">
          <span class="material-symbols-rounded">floor</span>
          <span>{{ property.floor }} {{ property.floor > 1 ? 'floors' : 'floor' }}</span>
        </div>

        <div class="flex items-center gap-1 rounded bg-blue-100 px-3 py-1 font-medium text-blue-600">
          <span class="material-symbols-rounded">crop</span>
          <span>
            {{ property.area }}
            <span>ft</span>
            <sup>2</sup>
          </span>
        </div>

        <div class="border-0 border-l-8 border-solid border-blue-600 pl-2 text-xl font-semibold text-blue-600">
          <span>{{ property.category.name }}</span>
        </div>
      </div>

      <lightgallery [settings]="settings">
        <div class="grid grid-cols-2 gap-1">
          <!-- First image -->
          <div class="item h-96" [attr.data-src]="environment.baseUrl + property.propertyImages[0].imageUrl">
            <img class="h-full w-full rounded object-cover" [src]="environment.baseUrl + property.propertyImages[0].imageUrl" />
          </div>

          <!-- Second set of images -->
          <div class="grid h-96 grid-cols-2 grid-rows-2 gap-1">
            @for (image of property.propertyImages.slice(1, 5); track $index) {
              <div class="item" [attr.data-src]="environment.baseUrl + image.imageUrl">
                <img class="h-full w-full cursor-pointer rounded object-cover" [src]="environment.baseUrl + image.imageUrl" />
              </div>
            }
          </div>
        </div>
      </lightgallery>

      <hr class="my-8 border-0 border-b border-solid border-gray-300" />

      <div class="grid grid-cols-12">
        <div class="col-span-9 border-0 border-r border-solid border-gray-300 pr-8">
          <!--Description-->

          <div>
            <h1 class="mb-3 text-2xl font-semibold">Description</h1>
            <div class="text-gray-800" [innerHTML]="property.description"></div>
          </div>

          <hr class="my-8 border-0 border-b border-solid border-gray-300" />

          <!--Property features-->
          <div>
            <div class="mb-4 text-2xl font-semibold">Property features</div>
            <!--2 Columns-->
            <div class="grid grid-cols-2 gap-6 text-gray-800">
              <div class="flex w-1/2 items-center gap-4">
                <span class="material-symbols-rounded">ac_unit</span>
                <span>Air conditioning</span>
              </div>

              <div class="flex w-1/2 items-center gap-4">
                <span class="material-symbols-rounded">wifi</span>
                <span>Broadband</span>
              </div>

              <div class="flex w-1/2 items-center gap-4">
                <span class="material-symbols-rounded">wifi</span>
                <span>Broadband</span>
              </div>

              <div class="flex w-1/2 items-center gap-4">
                <span class="material-symbols-rounded">wifi</span>
                <span>Broadband</span>
              </div>

              <div class="flex w-1/2 items-center gap-4">
                <span class="material-symbols-rounded">wifi</span>
                <span>Broadband</span>
              </div>

              <div class="flex w-1/2 items-center gap-4">
                <span class="material-symbols-rounded">wifi</span>
                <span>Broadband</span>
              </div>

              <div class="flex w-1/2 items-center gap-4">
                <span class="material-symbols-rounded">wifi</span>
                <span>Broadband</span>
              </div>
            </div>
          </div>

          <hr class="my-8 border-0 border-b border-solid border-gray-300" />

          <!--Floorplans and tours-->
          <div class="mb-4">
            <div class="mb-4 text-2xl font-semibold">Floorplans and tours</div>
            <div class="grid grid-cols-2 gap-6">
              <div>
                <div class="mb-4 flex items-center gap-4">
                  <span class="material-symbols-rounded">smart_display</span>
                  <span>Videos</span>
                </div>
                <app-yt-player videoID="bn0Kh9c4Zv4"></app-yt-player>
              </div>

              <div>
                <div class="mb-4 flex items-center gap-4">
                  <span class="material-symbols-rounded">edit_document</span>
                  <span>Floorplan</span>
                </div>
                <div class="w-full">
                  <img class="h-64 w-full rounded border border-solid border-gray-300 object-cover object-center" src="https://www.drawio.com/assets/img/blog/floorplan-apartment-ground-floor.png" alt="" />
                </div>
              </div>
            </div>
          </div>

          <!--Property video-->

          <hr class="my-8 border-0 border-b border-solid border-gray-300" />
        </div>

        <!--Contact-->
        <div class="col-span-3 ml-8">
          <div class="sticky top-8 rounded border border-solid border-gray-300 px-6 py-4">
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <p-avatar class="mr-4" image="https://primefaces.org/cdn/primeng/images/demo/avatar/walter.jpg" size="xlarge" badgeSize="large" shape="circle" />
                <div>
                  <div class="font-semibold">Donald Trump</div>
                  <div>0123456****</div>
                </div>
              </div>

              <span pRipple class="material-symbols-rounded cursor-pointer rounded-full border-0 bg-gray-200 p-2 font-bold text-gray-600" [pTooltip]="tooltipCopyPhone" tooltipPosition="top">content_copy</span>
            </div>

            <div class="mt-4 w-full">
              <p-button label=" Send email" [rounded]="true" [outlined]="true" icon="pi pi-google" size="small" class="w-full" severity="secondary" />
            </div>
            <div class="mt-4 w-full">
              <p-button label="Save property" [rounded]="true" icon="pi pi-bookmark-fill" size="small" class="w-full" />
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<app-footer></app-footer>

<ng-template #tooltipCopyPhone>
  <div class="align-items-center flex">
    <span>😘 Copy</span>
  </div>
</ng-template>

@if (isLoading$ | async) {
  <p-progressBar class="progress-bar-container" mode="indeterminate" [style]="{ height: '3px' }" />
}
