<div class="relative font-sans">
  <!--  <h1 class="animate-gradient-x absolute top-10 mb-6 w-full transform bg-gradient-to-r from-pink-500 via-red-500 to-blue-500 bg-clip-text text-center font-sans text-4xl font-black leading-[1.2] text-transparent">Make property great again!</h1>-->
  <img class="h-96 w-full select-none rounded-2xl object-cover" src="https://argonaut.au.reastatic.net/resi-property/prod/homepage-web/web_lrg-bdc6abbb97221105646a.avif" alt="" />

  <div class="absolute left-1/2 top-1/2 w-[800px] -translate-x-1/2 -translate-y-1/2 transform text-2xl">
    <p-tabView class="relative">
      <p-tabPanel header="Sold">
        <div class="flex flex-row gap-3">
          <input autocomplete="off" class="w-full rounded-full" (focus)="isInputFocused = true" [formControl]="searchInput" type="text" pInputText id="search-sold-input" placeholder="Search title, zipcode or ward" />

          <p-button label="Filter" icon="pi pi-filter" [rounded]="true" [outlined]="true" severity="secondary" (onClick)="showDialog()" label="Filters" />
          <p-button label="Search" [rounded]="true" routerLink="/property/search" />
        </div>
      </p-tabPanel>
      @if (properties$ | async; as properties) {
        @if (properties.length > 0) {
          @if (isInputFocused) {
            <div class="absolute inset-x-0 top-[138px] z-[100] max-h-44 w-full overflow-auto rounded-b-xl border-0 border-t-2 border-solid border-gray-300 bg-white text-base shadow-md">
              <div class="m-4">
                @for (property of properties; track $index) {
                  <div class="flex cursor-pointer flex-row items-center justify-between rounded-full p-2 p-4 text-black hover:bg-blue-500 hover:text-white" [routerLink]="['/property']" [queryParams]="{ propertyId: property.propertyId }">
                    <div class="text-base">
                      <div class="flex items-center gap-1">
                        <span class="material-symbols-rounded rounded-full">location_on</span>
                        {{ property.title }}
                      </div>
                    </div>
                    <div class="flex items-center gap-3">
                      <img [src]="environment.baseUrl + property.coverImage" class="w-16 rounded-xl object-cover" alt="" />
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        } @else {
          @if (isInputFocused) {
            <div class="absolute inset-x-0 top-[138px] z-[100] max-h-44 w-full overflow-auto rounded-b-xl border-0 border-t-2 border-solid border-gray-300 bg-white text-base shadow-md">
              <div class="m-4">
                <div class="cursor-pointer p-2 text-base">No Result Found</div>
              </div>
            </div>
          }
        }
      }

      <p-tabPanel header="Rent">
        <div class="flex flex-row gap-3">
          <input class="w-full rounded-full" type="text" pInputText id="search-rent-input" placeholder="Search title, zipcode or ward" />
          <p-button label="Filter" icon="pi pi-filter" [rounded]="true" [outlined]="true" severity="secondary" (onClick)="showDialog()" label="Filters" />
          <p-button label="Search" [rounded]="true" />
        </div>
      </p-tabPanel>

      <p-tabPanel header="Address">
        <div class="flex flex-row gap-3">
          <input class="w-full rounded-full" type="text" pInputText id="search-address-input" placeholder="Search by address" />
          <p-button label="Filter" icon="pi pi-filter" [rounded]="true" [outlined]="true" severity="secondary" (onClick)="showDialog()" label="Filters" />
          <p-button label="Search" [rounded]="true" />
        </div>
      </p-tabPanel>
      <p-tabPanel header="Agents">
        <div class="flex flex-row gap-3">
          <input class="w-full rounded-full" type="text" pInputText id="search-agent-input" placeholder="Search by agent" />
          <p-button label="Filter" icon="pi pi-filter" [rounded]="true" [outlined]="true" severity="secondary" (onClick)="showDialog()" label="Filters" />
          <p-button label="Search" [rounded]="true" />
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!--Modal-->
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <p-dialog header="Header" class="font-sans" [(visible)]="visible" [modal]="true" [style]="{ width: '45rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <!--Header-->
    <ng-template pTemplate="header">
      <h1 class="mx-auto text-2xl font-bold">Filters</h1>
    </ng-template>

    <!--Body-->
    <p-tabView>
      <p-tabPanel header="Buy" class="font-sans text-black">
        <!-- Property type-->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">real_estate_agent</span>
          <span class="text-base text-xl font-semibold text-blue-600">Property type</span>
        </div>

        <div class="grid grid-cols-12 gap-4" formGroupName="propertyTypes">
          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="apartment" label="Apartment" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="house" label="Houses" [binary]="true" />
            </div>
          </div>
        </div>
        <!-- End Property type-->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!-- Price -->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">payments</span>
          <span class="text-base text-xl font-semibold text-blue-600">Price</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="price">
          <div class="col-span-6">
            <h2 class="mb-2 text-base">Min</h2>
            <p-dropdown class="w-full" formControlName="minPrice" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>

          <div class="col-span-6 space-y-4">
            <h2 class="mb-2 text-base">Max</h2>
            <p-dropdown class="w-full" formControlName="maxPrice" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>
        </div>
        <!-- End Price -->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!-- Bedrooms -->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">bed</span>
          <span class="text-base text-xl font-semibold text-blue-600">Bedrooms</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="bedrooms">
          <div class="col-span-6">
            <h2 class="mb-2 text-base">Min</h2>
            <p-dropdown class="w-full" formControlName="minBedrooms" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>

          <div class="col-span-6 space-y-4">
            <h2 class="mb-2 text-base">Max</h2>
            <p-dropdown class="w-full" formControlName="maxBedrooms" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>
        </div>
        <!-- End Bedrooms -->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!-- Bathrooms -->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">bathtub</span>
          <span class="text-base text-xl font-semibold text-blue-600">Bathrooms</span>
        </div>

        <div class="grid grid-cols-12 gap-4" formGroupName="bathrooms">
          <div class="col-span-6">
            <h2 class="mb-2 text-base">Min</h2>
            <p-dropdown class="w-full" [options]="bathroomOptions" formControlName="minBathrooms" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any"></p-dropdown>
          </div>

          <div class="col-span-6 space-y-4">
            <h2 class="mb-2 text-base">Max</h2>
            <p-dropdown class="w-full" [options]="bathroomOptions" formControlName="maxBathrooms" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>
        </div>
        <!-- End Bathrooms -->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!--Outdoor features-->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">nature_people</span>
          <span class="text-base text-xl font-semibold text-blue-600">Outdoor features</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="outdoorFeatures">
          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="swimmingPool" label="Swimming pool" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="garage" label="Garage" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="balcony" label="Balcony" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="outdoorArea" label="Outdoor area" [binary]="true" />
            </div>
          </div>
        </div>
        <!--End Outdoor features-->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!--Indoor features-->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">chair</span>
          <span class="text-base text-xl font-semibold text-blue-600">Indoor features</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="indoorFeatures">
          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="dishwasher" label="Dishwasher" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="alarmSystem" label="Alarm system" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="gym" label="Gym" [binary]="true" />
            </div>
          </div>
        </div>
        <!--End Outdoor features-->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />
      </p-tabPanel>

      <p-tabPanel header="Rent" class="font-sans text-black">
        <!-- Property type-->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">real_estate_agent</span>
          <span class="text-base text-xl font-semibold text-blue-600">Property type</span>
        </div>

        <div class="grid grid-cols-12 gap-4" formGroupName="propertyTypes">
          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="apartment" label="Apartment" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="house" label="Houses" [binary]="true" />
            </div>
          </div>
        </div>
        <!-- End Property type-->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!-- Price -->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">payments</span>
          <span class="text-base text-xl font-semibold text-blue-600">Price</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="price">
          <div class="col-span-6">
            <h2 class="mb-2 text-base">Min</h2>
            <p-dropdown class="w-full" formControlName="minPrice" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>

          <div class="col-span-6 space-y-4">
            <h2 class="mb-2 text-base">Max</h2>
            <p-dropdown class="w-full" formControlName="maxPrice" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>
        </div>
        <!-- End Price -->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!-- Bedrooms -->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">bed</span>
          <span class="text-base text-xl font-semibold text-blue-600">Bedrooms</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="bedrooms">
          <div class="col-span-6">
            <h2 class="mb-2 text-base">Min</h2>
            <p-dropdown class="w-full" formControlName="minBedrooms" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>

          <div class="col-span-6 space-y-4">
            <h2 class="mb-2 text-base">Max</h2>
            <p-dropdown class="w-full" formControlName="maxBedrooms" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>
        </div>
        <!-- End Bedrooms -->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!-- Bathrooms -->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">bathtub</span>
          <span class="text-base text-xl font-semibold text-blue-600">Bathrooms</span>
        </div>

        <div class="grid grid-cols-12 gap-4" formGroupName="bathrooms">
          <div class="col-span-6">
            <h2 class="mb-2 text-base">Min</h2>
            <p-dropdown class="w-full" [options]="bathroomOptions" formControlName="minBathrooms" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any"></p-dropdown>
          </div>

          <div class="col-span-6 space-y-4">
            <h2 class="mb-2 text-base">Max</h2>
            <p-dropdown class="w-full" [options]="bathroomOptions" formControlName="maxBathrooms" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>
        </div>
        <!-- End Bathrooms -->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!--Outdoor features-->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">nature_people</span>
          <span class="text-base text-xl font-semibold text-blue-600">Outdoor features</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="outdoorFeatures">
          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="swimmingPool" label="Swimming pool" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="garage" label="Garage" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="balcony" label="Balcony" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="outdoorArea" label="Outdoor area" [binary]="true" />
            </div>
          </div>
        </div>
        <!--End Outdoor features-->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!--Indoor features-->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">chair</span>
          <span class="text-base text-xl font-semibold text-blue-600">Indoor features</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="indoorFeatures">
          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="dishwasher" label="Dishwasher" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="alarmSystem" label="Alarm system" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="gym" label="Gym" [binary]="true" />
            </div>
          </div>
        </div>
        <!--End Outdoor features-->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />
      </p-tabPanel>
      <p-tabPanel header="Sold" class="font-sans text-black">
        <!-- Property type-->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">real_estate_agent</span>
          <span class="text-base text-xl font-semibold text-blue-600">Property type</span>
        </div>

        <div class="grid grid-cols-12 gap-4" formGroupName="propertyTypes">
          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="apartment" label="Apartment" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="house" label="Houses" [binary]="true" />
            </div>
          </div>
        </div>
        <!-- End Property type-->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!-- Price -->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">payments</span>
          <span class="text-base text-xl font-semibold text-blue-600">Price</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="price">
          <div class="col-span-6">
            <h2 class="mb-2 text-base">Min</h2>
            <p-dropdown class="w-full" formControlName="minPrice" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>

          <div class="col-span-6 space-y-4">
            <h2 class="mb-2 text-base">Max</h2>
            <p-dropdown class="w-full" formControlName="maxPrice" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>
        </div>
        <!-- End Price -->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!-- Bedrooms -->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">bed</span>
          <span class="text-base text-xl font-semibold text-blue-600">Bedrooms</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="bedrooms">
          <div class="col-span-6">
            <h2 class="mb-2 text-base">Min</h2>
            <p-dropdown class="w-full" formControlName="minBedrooms" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>

          <div class="col-span-6 space-y-4">
            <h2 class="mb-2 text-base">Max</h2>
            <p-dropdown class="w-full" formControlName="maxBedrooms" [options]="bathroomOptions" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>
        </div>
        <!-- End Bedrooms -->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!-- Bathrooms -->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">bathtub</span>
          <span class="text-base text-xl font-semibold text-blue-600">Bathrooms</span>
        </div>

        <div class="grid grid-cols-12 gap-4" formGroupName="bathrooms">
          <div class="col-span-6">
            <h2 class="mb-2 text-base">Min</h2>
            <p-dropdown class="w-full" [options]="bathroomOptions" formControlName="minBathrooms" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any"></p-dropdown>
          </div>

          <div class="col-span-6 space-y-4">
            <h2 class="mb-2 text-base">Max</h2>
            <p-dropdown class="w-full" [options]="bathroomOptions" formControlName="maxBathrooms" optionLabel="label" optionValue="value" [showClear]="true" placeholder="Any" />
          </div>
        </div>
        <!-- End Bathrooms -->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!--Outdoor features-->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">nature_people</span>
          <span class="text-base text-xl font-semibold text-blue-600">Outdoor features</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="outdoorFeatures">
          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="swimmingPool" label="Swimming pool" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="garage" label="Garage" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="balcony" label="Balcony" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="outdoorArea" label="Outdoor area" [binary]="true" />
            </div>
          </div>
        </div>
        <!--End Outdoor features-->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />

        <!--Indoor features-->
        <div class="mb-6 flex items-center gap-2">
          <span class="material-symbols-rounded rounded-full bg-blue-100 p-2 text-blue-600">chair</span>
          <span class="text-base text-xl font-semibold text-blue-600">Indoor features</span>
        </div>
        <div class="grid grid-cols-12 gap-4" formGroupName="indoorFeatures">
          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="dishwasher" label="Dishwasher" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="alarmSystem" label="Alarm system" [binary]="true" />
            </div>
          </div>

          <div class="col-span-6 space-y-4">
            <div class="align-items-center">
              <p-checkbox formControlName="gym" label="Gym" [binary]="true" />
            </div>
          </div>
        </div>
        <!--End Outdoor features-->

        <hr class="my-8 border-0 border-b border-solid border-gray-300" />
      </p-tabPanel>
    </p-tabView>

    <ng-template pTemplate="footer">
      <p-button label="Clear Filters" icon="pi pi-times" iconPos="left" severity="secondary" [rounded]="true" (onClick)="clearFilters()" />
      <p-button label="Search" icon="pi pi-search" iconPos="left" type="submit" [rounded]="true"></p-button>
    </ng-template>
  </p-dialog>
</form>
