<div class="flex min-h-screen flex-col">
  <app-header></app-header>
  <div class="container mx-auto my-8 flex-1">
    <app-home-search></app-home-search>

    <hr class="my-12 border-0 border-b border-solid border-gray-300" />
    <app-home-for-you></app-home-for-you>

    <hr class="my-12 border-0 border-b border-solid border-gray-300" />
    <app-home-agent></app-home-agent>

    <hr class="my-12 border-0 border-b border-solid border-gray-300" />
    <app-home-most-viewed></app-home-most-viewed>

    <hr class="my-12 border-0 border-b border-solid border-gray-300" />
    <app-home-news></app-home-news>

    <hr class="my-12 border-0 border-b border-solid border-gray-300" />
    <app-home-location></app-home-location>
  </div>

  <app-footer></app-footer>
</div>

<p-scrollTop target="window" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up" />
