<div class="font-sans">
  <!--Agents Specializing in Your Search Areas-->
  <h1 class="mb-6 font-sans text-2xl font-semibold">Agents Specializing</h1>

  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-3">
      <div class="flex flex-col overflow-hidden rounded-xl border border-solid border-gray-200 bg-white shadow-lg">
        <!-- Header -->
        <div class="relative flex flex-col items-center gap-2 rounded-t-lg border-0 border-b border-solid border-gray-300 bg-gray-100 p-4">
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="xlarge" />
          <div class="text-xl font-semibold">Tom Jonson</div>
        </div>

        <!--Body-->
        <div class="space-y-4 border-0 border-b border-solid border-gray-300 p-6 text-gray-700">
          <div class="flex justify-between">
            <div>
              <strong>100</strong>
              Total Sales
            </div>
            <div class="text-right">
              <strong>$100,000</strong>
              Price
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              <span class="material-symbols-rounded text-blue-600">phone_iphone</span>
              <span>0123456789</span>
            </div>
            <p-button pTooltip="Copy" [text]="true" icon="pi pi-copy" size="small" severity="primary" />
          </div>
        </div>

        <div class="flex items-end justify-end gap-2 p-4">
          <p-button class="custom-button" label="Email " [rounded]="true" icon="pi pi-envelope" size="small" severity="secondary" />
          <p-button class="custom-button" label="Call" [rounded]="true" icon="pi pi-phone" size="small" />
        </div>
      </div>
    </div>
  </div>

  <div class="text-right">
    <p-button size="small" label="See More Agents" icon="pi pi-arrow-right " iconPos="right" severity="secondary" />
  </div>
</div>
